.container-pastdays {
 display: flex;
 width: 100%;
 max-width: 365px;
 padding: 13px 0;
 font-family: 'Montserrat';
 font-weight: 700;
 color: #CFCFCF;
 font-size: 12px;
 background: rgba(217, 217, 217, 0.05);
 border-radius: 4px;
 outline: none;
}

.text-container {
 display: flex;
 width: 100%;
 justify-content: space-between;
 padding: 0 13px;
}

.date-info {
 color: #CFCFCF;
 font-weight: 500;
}

.time-info{
 color: #F5F5F5
}